* {
  box-sizing: border-box;
  margin: auto;
}
body {
  max-width: 750px;
  border: 2px solid #000;
  background: linear-gradient(#0a686c, #a8be2a);
}
header {
  padding: 30px 0;
  background: linear-gradient(#06edf1, #a8be2a, #e88709);
}
/* html,css */
.header__h1 {
  color: red;
  font-family: sans-serif;
  font-style: italic;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 5px 5px 5px yellow;
  margin-bottom: 30px;
}

.header__h2 {
  font-size: 40px;
  color: rgb(169, 29, 120);
  text-transform: capitalize;
  font-style: italic;
  margin-bottom: 30px;
}
.header__h2-ol {
  margin-bottom: 50px;
}

.header__h2-ol li {
  color: blueviolet;
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 40px;
  margin-left: 100px;
}
.header__h2-ol li:nth-child(3) {
  color: blue;
}
/* flex-box */
.header__flex-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.flex-basis {
  flex-basis: 35%;
}
.header__h3 {
  color: rgb(13, 130, 247);
  font-size: 30px;
  font-style: normal;
  margin-bottom: 30px;
}
.header__h3__ol li {
  color: blueviolet;
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 40px;
}
/* grid */
.header__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-bottom: 30px;
}
.header__grid-items {
  justify-self: center;
}
footer {
  background-color: rgba(228, 234, 240, 0.5);
  padding: 30px 0;
  text-align: center;
}
.footer {
  color: #0a686c;
  font-size: 30px;
  text-decoration: none;
  cursor: cell;
}
